.hide {
    display: none;
}

.show {
    display: block;
}

#welcome-header {
    text-align: center;
    background-color: rgb(124, 204, 204);
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 30px;
}

.welcome-div {
    text-align: left;
    display: inline;   
}

.login-button, .register-button {
    position: relative;
    left: 165px;
    border-radius: 10px;
    color: white;
    background-color: rgb(124, 204, 204);
    padding: 5px 30px;
    font-size: 20px;
}

.login-form, .register-form {
    position: relative;
    display: inline;
    text-align: left;
    border: 1px solid rgb(124, 204, 204);
    width: 320px;
    height: 467px;
    border-radius: 10px;
}
.login-title, .register-title {
    background-color: rgb(124, 204, 204);
    width: 100%;
    border-radius: 10px;
    color: white;
    padding: 5px 40px;
    font-size: 20px;
}

.register-title {
    position: relative;
    left: 10px;
}

.titles, .form-inputs {
    margin: 10px;
}

#username, #login-password, #full-name, #nickname, #email-address, #register-password {
    position: relative;
    bottom: 14px;
    border: 1px solid rgb(124, 204, 204);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    
}

